* {
  box-sizing: border-box;
}
.dyx-semi-progress-box {
  overflow: hidden;
  position: relative;
}
.dyx-semi-common-progress {
  position: absolute;
  border-bottom: 0;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-style: solid;
  border-bottom: 0;
}
.dyx-semi-cover-progress {
  z-index: 100;
  transform-origin: 50% 100%;
}
.dyx-semi-back-progress {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}